
table{
    margin-top: 3em;
    width: 70%;
    border-collapse: collapse;
    text-align: center;
}

thead td{
    border-bottom: 1px solid black;
}
tbody td{
    margin-top: .3em;
    min-width: 100px;
}

@media screen and (max-width: 1000px) {
    table{
        width: 90%;
    }
    #req_service{
        overflow-y: scroll;
        padding: 0.5em;
    }
    
}
